body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

.container {
    max-width: 100%;
    padding-left:10px;
}

/*Всі товари*/
#inner {
    /*display: none;*/
    display: grid;
}
.inner {
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.img {
    width: 185px;
}
.item {
    text-align: center;
    padding-bottom: 10px;
    padding-right: 10px;
}
.counter {
    position: relative;
    /*display: flex;*/
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 140px;
    width: 40px;
    height: 40px;
    background: rgb(248, 168, 24);
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgb(248, 168, 24);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    transition: background .2s linear;
}
.count {
    max-width: 100%;
    display: none;
    justify-content: center;
}
.plus {
    display: inline-block;
    border: none;
    background: rgb(248, 168, 24);
    padding: 10px 15px;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
.minus {
    display: inline-block;
    margin-right: 5px;
    border: none;
    background: rgb(255,0,0);
    padding: 10px 15px;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
.usercard {
    text-align: center;
}
.absolute {
    position: absolute;
}
.item label {
    display: block;
    font-size: 10px;
    font-family: Montserrat, serif;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*Корзинка*/
.basket {
    width: 100%;
    height: 150px;
}
#basket{
    display: none;
}
.basket-menu{
    font-family: Arial;
    height: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.basket-left{
    font-weight: bold;
    padding-left: 50px;
}
.order-count{
    color: rgb(248, 168, 24);
}
.basket-right{
    float: right;
}
#edit-button button {
    background: none;
    border: none;
    font-weight: bold;
    color: #2cab37;
    float: right;
    padding-top: 0;
    padding-right: 20px;
    font-size: 18px;
}
ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.order {
    display: none;
    height: 50px;
    font-family: Lucida Sans, serif;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 20px;
}
.order img{
    width: 50px;
    padding-right: 10px;
}
.order label{
    padding-top: 10px;
}
.order-left {
    padding-left: 15px;
    display: flex;
   float: left;
}
.order-right{
    padding-top: 10px;
    padding-right: 10px;
    float: right;
}
.text {
    padding-top: 10px;
}
.small-desc{
    font-weight: lighter;
}
.text-input {
    border-top: solid;
    border-bottom: solid;

}

.basket textarea{
    padding-top: 10px;
    position: relative;
    left: 5%;
    width: 90%;
    min-height: 30px;
    font-size: 18px;
    overflow: hidden;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    color: var(--tg-theme-text-color);
}
